:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #0000;
    --fonte-principal: 'inter'
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 50;
}
.principal {
    background: url();
    background-repeat:no-repeat;
    background-size:contain;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}
.container_botao{
    display: block;
    text-decoration: none;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}
.container_aviso{
    font-size: 28px;
    font-weight: 700;
}
.container_imagem{
    margin: 1em 0 2em 0;
}
.container_caixa{
    margin: 0 6em;
}
